.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.card h4 {
    color: #333;
}

.card-body p {
    color: #828282;
    margin: 10px 0;
}

.card ul {
    color: #828282;
    text-align: left;
    margin: 10px 0;
}

.subCategory {
    display: block;
    text-align: center;
    border: 1px solid black;
    margin: 5%;
    padding: 5%;
    background-color: #fff;
    border-radius: 10px;
}

.github-icon {
    width: 24px;
    height: 24px;
    margin-top: 10px;
}

.Link {
    position: relative;
    /* Make the card a positioned container */
    padding-bottom: 40px;
    /* Leave space for the .viewMore link */
}

.viewMore {
    margin: 0px 10px;
    border-radius: 5px;
    padding: 5px;
    width: calc(100% - 40px);
    position: absolute;
    bottom: 10px;
    text-decoration: none;
    text-align: center;
}

.Link:hover .viewMore {
    background-color: #f3f3f3;
}